@import "./variables.scss";

.appTitle {
  font-size: 36px;
  text-shadow: 1px 1px 2px black, 0px 0px 25px $light-color;
}


h2 {
  flex: 1;
  text-align: center;
}
.budgetBox {
  border: 1px solid $light-color;
  color: $light-color;
  padding: 10px;
  margin: 10px;
  background-color: $secondary-color;
}

.openTab {
  font-size: 5em;
  z-index: 1;
  color: $primary-color;
  position: fixed;
  text-shadow: 1px 1px 2px black, 0px 0px 25px $light-color, 0px 0px 5px $light-color;
}

.budget-detail{
     border: 1px solid $light-color;
  color: $dark-color;
  padding: 10px;
  margin: 10px;
  background-color: $secondary-color;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4p

 }

.budget-income-box {
  border: 1px solid $light-color;
  color: $light-color;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  background-color: $primary-color;
}

.budget-income {
  border: 1px solid $light-color;
  color: $light-color;
  padding: 10px;
  margin: 10px;
  background-color: $primary-color;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.budget-container {
  border: 1px solid $secondary-color;
  display: flex;
}

.budget-overall-box {
  border: 1px solid $light-color;
  padding: 5px;
  margin: 5px;
  text-align: center;
  color: $light-color;
  background-color: $primary-color;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.estimate-actual-holder {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.monthDetail{
  border-bottom: double $dark-color;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.menuOpen {
  text-shadow: 1px 1px 2px black, 0px 0px 25px $light-color, 0px 0px 5px $light-color;
  text-align: end;
  font-size: 90px;
}